<a href="https://colab.research.google.com/github/leehyell/pythonStudy24/blob/master/DictionaryType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####딕셔너리 자료형(key : value)
{key1:Value1,key2:Value2,key3:Value3} 형태

In [2]:
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
dic

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

In [3]:
a = {1: 'hi'}
a
#'1' key에 hi라는 문자열을 넣음

{1: 'hi'}

In [4]:
a = {1: 'a'}
a[2] = 'b'
a
# 1 key에 a 값을 넣은 후, 딕셔너리를 추가함

{1: 'a', 2: 'b'}

In [5]:
a['name'] = 'pey'
a
#딕셔너리 재추가

{1: 'a', 2: 'b', 'name': 'pey'}

In [6]:
del a[1]
a
#del 배열변수[key값] -> 해당 key를 가진 딕셔너리 요소를 삭제

{2: 'b', 'name': 'pey'}

In [8]:
kind = {"김연아": "피겨스케이팅", "류현진": "야구", "손흥민": "축구", "귀도": "파이썬"}
kind
#kind에 딕셔너리 생성

{'김연아': '피겨스케이팅', '류현진': '야구', '손흥민': '축구', '귀도': '파이썬'}

In [9]:
kind['김연아']
#kind에서 key를 이용하여 value 값 얻기

'피겨스케이팅'

In [10]:
a = {'a': 1, 'b': 2}
print(a['a'])
print(a['b'])

1
2

In [11]:
a = {1:'a', 1:'b'}
a
#딕셔너리 key 값은 중복될 수 없으므로 key 값이 동일하지 않도록 주의해야 함

{1: 'b'}

In [12]:
a = {[1,2] : 'hi'}
#딕셔너리에는 언제든 바뀔 수 있는 리스트를 key 값으로 사용할 수 없음
#value 값은 중복 가능, 리스트 가능

TypeError: unhashable type: 'list'

In [14]:
a = {(1,2) : 'hi'}
a
#단, 튜플은 UD가 안 되므로 key 값으로 넣을 수 있다.

{(1, 2): 'hi'}

In [16]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
b = a.keys()
b
#a.keys()는 a 중 key 값만을 모아서 전달

dict_keys(['name', 'phone', 'birth'])

In [17]:
for k in a.keys():
    print(k)
#dict_keys 원리

name
phone
birth

In [18]:
#dict_keys를 리스트화 시키는 방법
list(a.keys())

['name', 'phone', 'birth']

In [19]:
a.values()
#반대로 value 값들만 모아놓고 싶다면 .values() 함수 호출

dict_values(['pey', '010-9999-1234', '1118'])

In [20]:
a.items()
#key, value 쌍을 튜플로 묶은 값을 dict_items 객체로 돌려줌

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [21]:
a.clear()
a
#a 딕셔너리를 모두 지우고 싶을 때 사용

{}

In [22]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.get('name')
#key 값으로 value 값을 얻어내기

'pey'

In [25]:
a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
print(a.get('nokey'))
#None = false
#해당 key 값이 없을 때 null 돌려주는 것과 유사함

None

In [27]:
a.get('nokey', 'null')
#nokey key값이 없을 때 null로 돌려받고 싶을 때 .get('key','띄울값')을 적어줌

'null'

In [28]:
a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
print('name' in a)
#key 값이 있는지 확인하려면 'key' in 변수명
print('email' in a)
#key 값이 있으면 true, 없으면 false를 반환

True
False