<a href="https://colab.research.google.com/github/leehyell/pythonStudy24/blob/master/listType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####테이블 자료 처리(각각의 개체를 모아 처리하는 용도)
* 리스트 자료형
* 튜플 자료형
* 딕셔너리 자료형
* 집합 자료형

In [ ]:
"""
리스트 자료형
└ 대괄호를 이용하여 감싸고 쉼표로 요소를 구분
"""
odd = [1,3,5,7,9]
"""
Java의 배열과 유사하지만 배열은 초기 행/열 값을 갖는다.(배열 크기는 고정)
-> 이런 단점을 보완하여 나온 것이 arrayList<>
"""
a = [] #빈 리스트 -> a = list() 로도 생성 가능
b = [1,2,3] #정수형 리스트
c = ['Life', 'is', 'too', 'short'] #문자형 리스트
d = [1,2,'Life', 'is'] #혼합형 리스트
e = [1,2,['Life', 'is']] #이중 리스트

In [2]:
#리스트 인덱싱
a = [1,2,3]
a[0] #a 리스트의 0번 인덱스를 출력

1

In [3]:
a[0] + a[2]
# -> 1 + 3

4

In [4]:
a[-1] #마지막 요소값

3

In [8]:
a = [1,2,3,['a','b','c']]
print(a[0])
print(a[-1][0])
print(a[-1][1])
print(a[-1][2])
#2차원 배열을 출력하려면 [행][열]을 생각하면 됨

1
a
b
c

In [10]:
"""
3차원 배열
└ 사진, 영상처리, 게임
   └ 가로*세로: 픽셀 / 깊이: RGB 컬러
"""
member = [["김기자",["교사",312]],["나기자",["학생",312]],["다기자",["학생2",311]],["라기자",["학생3",315]]]
print(member[1][1][1])

312

In [12]:
"""
리스트 슬라이싱
"""
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [13]:
#처음부터 2번째 앞까지
a[:2]

[1, 2]

In [14]:
#2번째 열부터 마지막까지
a[2:]

[3, 4, 5]

In [19]:
a = [1,2,3,['a','b','c'],4,5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [20]:
"""
미션 b, c 슬라이싱
"""
a[3][1:]

['b', 'c']

In [25]:
"""
리스트 연산 +, x 를 활용할 수 있다
"""
a = [1,2,3]
b = [4,5,6]
a + b
#문자열의 + 계산과 유사

[1, 2, 3, 4, 5, 6]

In [33]:
a3 = a * 3
a3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [35]:
#리스트 길이 구하기
len(a*3)

9

In [39]:
"""
리스트에 글자 추가하기
"""
a = [1,2,3]
a[2] + "hi"
#3은 정수인데 스트링이 뒤에 붙어서 타입 에러가 뜸
a

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [44]:
str(a[2]) + "hi"
#정수를 문자열로 변환 후 hi를 붙이니 오류가 안 남

'3hi'

In [46]:
"""
리스트 값을 수정 및 삭제
"""
a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

In [50]:
del a[2]
a
#del은 해당 리스트의 값을 지운다.

[1, 2]

In [51]:
a = [1,2,3,4,5]
del a[2:]
a
#remove, pop, del 모두 리스트 제거용 함수
#a.remove(2:)
#a.pop(2:)

[1, 2]

In [52]:
"""
리스트 관련 함수
.append()
└ 이미 만들어진 리스트에 객체를 추가
"""
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [55]:
a.append([5,6])
a[4][0]

5

In [57]:
"""
sort()
└ 리스트의 요소를 순서대로 정렬(오름차순)
reverse()
└ 리스트의 요소를 순서대로 정렬(내림차순)
"""
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [58]:
a.reverse()
a

[4, 3, 2, 1]

In [60]:
#단, 타입이 다르면 정렬이 되지 않는다.
a = [6,'이혜린','a','@']
a.sort
a

[6, '이혜린', 'a', '@']

In [61]:
a.reverse
a

[6, '이혜린', 'a', '@']

In [63]:
b = ['a','z','d','c','g']
b.sort()
b

['a', 'c', 'd', 'g', 'z']

In [64]:
c = ["김기원","김지선","윤인영","육진"]
c.sort()
c

['김기원', '김지선', '육진', '윤인영']

In [65]:
"""
인덱스 반환
└ .index(값)
"""
a = [1,2,3]
a.index(3)

2

In [67]:
a.index(1)

0

In [68]:
a.index(4)
#a 배열에 4가 없기 때문에 valueError가 생김

ValueError: 4 is not in list

In [74]:
"""
리스트에 요소 삽입
.insert(index,value)
"""
a = [1,2,3]
a.insert(1,4)
#0번째에 4 값을 추가 및 기존 값은 인덱스가 밀린다.
a

[1, 4, 2, 3]

In [75]:
a.insert(3,5)
a

[1, 4, 2, 5, 3]

In [77]:
"""
.remove(value)
() 안의 값이 사라진다.
"""
a = [1,2,3,5,7]
a.remove(1)
a

[2, 3, 5, 7]

In [80]:
b = [3,1,3,1,3,5,7]
b.remove(3)
#.remove는 지우고자 하는 값이 여러개여도 맨 앞의 값만 지우고 끝난다
b

[1, 3, 1, 3, 5, 7]

In [81]:
b.remove(3)
b

[1, 1, 3, 5, 7]

In [88]:
"""
리스트 요소 끄집어 내기
.pop(index)
index가 비어있으면 맨 뒤의 값을 꺼내온다.
"""
c = [1,2,3,4,5,6]
d = c.pop()
c

[1, 2, 3, 4, 5]

In [89]:
c.pop(3)
c

[1, 2, 3, 5]

In [93]:
"""
.count(value)
해당 value 값이 몇 개 있는지 세어준다.
"""
d = [3,1,3,1,3,1,3,15,3,2]
d.count(3)

5

In [95]:
len(d)

10

In [100]:
"""
list 확장
.extend(x)
└ x는 리스트만 올 수 있음
└ a[] + x[]
"""
e = [1,2,3]
e.extend([4,5])
e

[1, 2, 3, 4, 5]

In [101]:
f = [6,7,8]
e.extend(f)
e

[1, 2, 3, 4, 5, 6, 7, 8]