<a href="https://colab.research.google.com/github/leehyell/pythonStudy24/blob/master/setType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####집합 자료형(set)
집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형
<br/><br/>
set 구조 특징
*   중복을 허용하지 않음
*   순서가 없음
<br/><br/>
이런 특징으로 중복을 제거하는 필터로 사용

In [4]:
s1 = set([1, 2, 3])
#set을 사용하여 집합 자료형으로 만듦
s1

{1, 2, 3}

In [2]:
s2 = set("helloworld")
s2
#중복을 허용하지 않으며, 순서가 없는 특징으로 이상하게 나열되며, o, l이 하나씩 있음

{'d', 'e', 'h', 'l', 'o', 'r', 'w'}

In [3]:
s = set()
#빈 집합 자료형

In [5]:
s1 = set([1, 2, 3])
l1 = list(s1)
print(l1)
print(l1[0])
t1 = tuple(s1)
print(t1)
print(t1[0])
#set 자료형에 저장된 값을 인덱스로 접근하기 위해 리스트 및 튜플로 변환

[1, 2, 3]
1
(1, 2, 3)
1

In [7]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
#s1, s2를 set 자료형으로 변환

In [11]:
s1 & s2
#s1과 s2의 교집합 구하기

{4, 5, 6}

In [9]:
s1.intersection(s2)
#s1과 s2의 교집합 함수

{4, 5, 6}

In [12]:
s1 | s2
#s1과 s2의 합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
s1.union(s2)
#s1과 s2의 합집합 함수

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
print(s1 - s2)
print(s2 - s1)
#a - b 는 a를 기준으로 b와 겹치는 것을 제외한 나머지(차집합)를 구하는 것

{1, 2, 3}
{8, 9, 7}

In [15]:
print(s1.difference(s2))
print(s2.difference(s1))
#차집합 구하기 함수

{1, 2, 3}
{8, 9, 7}

In [16]:
s1 = set([1, 2, 3])
s1.add(4)
s1
#set 구조에 값 추가하기(맨 뒤에 추가됨)

{1, 2, 3, 4}

In [17]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1
#값을 한 개가 아닌 여러 개 추가할 때 .update(값) 사용

{1, 2, 3, 4, 5, 6}

In [18]:
s1 = set([1, 2, 3])
s1.remove(2)
s1
#특정 값을 제거하고 싶을 때는 .remove(value) 사용

{1, 3}